*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display';
  font-style:normal;
  font-weight: 500;
  line-height: 25px;
  
}

.wrapper {
  width: 100%;
}
html
{
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(195, 215, 241);
  /* overflow-x: hidden ; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;

}

nav ul 
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

nav ul li {
  display: inline-block;
  padding: 20px 80px;
  padding-top: 20px;  
  cursor: pointer;
  color: rgb(90, 85, 85);

  float: none;
  
}

nav ul li a{
  text-decoration: none;
  display: block;

}

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  text-align: left;
}

.navbar a:link, a:visited
{
  text-decoration: none;
  color: rgb(90, 85, 85);
}

.navbar a:hover {
  text-decoration: none;
  color:rgb(248, 124, 211);
}

.navbar.active{
  background: rgb(129, 159, 194);
  transition: 5s;
  text-decoration: none;

}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 20px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.logo
{
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 25px;
  content: "" ;
  margin-left: -60px;
  font-size: 70px;
  color: rgb(248, 124, 211);
}



@media (max-width: 950px)
{
  .checkbtn{
    display: block;
  }


  nav ul 
  {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(129, 159, 194);
    top: 80px;
    left: -105%;
    text-align: center;
  }

  nav ul li{
    display: block;
    font-size: 20px;
    margin: 50px 0;
    line-height: 30px;
    color: rgb(90, 85, 85);


  }

  a:hover, a.active{
    background: none;

  }

  #check:checked ~ ul{
    left: 0;
  }


}

.web-name
{
  position: absolute;
  width: 600px;
  height: 100px;
  left: 50%;
  top: 400px;
  content: "" ;
  margin-left: -250px;
  font-size: 80px;
  color: rgb(90, 85, 85);
}

.centre-div
{
  height: 80vh;
  margin: auto;
  width: 80%;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
}

.recipe-table
{
  margin: auto;
  width: 100%;
  table-layout: fixed;
}
.recipe-column
{
  padding: 20px;
  margin: auto;
  width: 60%;
  border-width: 10px;
  border-color: aqua;
}

.recipe-container
{
  height: 70vh;
  margin: auto;
  width: 80%;
  padding: 30px;
  background-color: mintcream;
  border-radius: 10px;
}

.recipe-image
{
  border-radius: 10px;
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

.spacer
{
  height: 20px;
}

.divider
{
  height: 1px;
  background-color: gray;
  width: 100%;
}

.centred-header
{
  text-align: center;
}